{% extends 'main/base.html' %}
  
{% block content %}
<div id="contactContainer">
    <h1>Contact Me For Any Inquiries!</h1>
    <form action="/contact.php">
        <label for="fname">Name</label><br>
        <input type="text" id="name" name="email" style="height: 2em; width: 25em;"><br><br>
        <label for="number">Number</label><br>
        <input type="text" id="number" name="number"><br><br>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="subject">Subject</label><br>
        <input type="text" id="subject" name="subject"><br><br>
        <label for="message">Message</label><br>
        <textarea class="longInput" cols="30" rows="10" style="width: 25em;"></textarea><br><br>
        <input type="submit" value="Submit">
      </form>
</div>
{% endblock %}