.main_wrapper {
    margin: 0;
    position: relative;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(0, -50%);
    border: 3px;
    border-style: solid;
    border-color: red;
    width: 95%;
    height: 80vh;
    margin-top: 60vh;
    margin-left: 2%;
    overflow: hidden;
}

.content_wrapper_1 {
    text-align: center;
    vertical-align: middle;
    overflow: scroll;
    border: 3px;
    height: 76vh;
    border-style: solid;
    border-color: yellow;
    background: cyan;
    margin-right: -1.5em;
    margin-bottom: -1em;
}

.content_controls {
    text-align: center;
    border: 3px;
    height: 4.5em;
    border-style: solid;
    border-color: blue;
    /*position: relative;*/
    background: darkgray;
}

.navbar_controls {
    background-color: red;
    margin: 0;
    text-align: center;
    justify-content: center;
}